/* video-styles.css */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}

/* signup-styles.css */
label {
    display: block;
    font-weight: bold;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}

input[type="submit"] {
    background-color: #d4830a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #ce7d14;
}
